html,
body {
  font-family: 'Cutive', serif;
  background-image: url("http://anz.kapsi.fi/20160505_002614.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-color: #000000;
  background-size: 95% 95%;
}
.navbar {
  margin-bottom: 10px;
}
.navbar-brand {
  float: none;
}
.navbar-nav .nav-item {
  float: none;
}
.navbar-divider,
.navbar-nav .nav-item+.nav-item,
.navbar-nav .nav-link + .nav-link {
  margin-left: 0;
}
@media (min-width: 34em) {
  .navbar-brand {
    float: left;
  }
  .navbar-nav .nav-item {
    float: left;
  }
  .navbar-divider,
  .navbar-nav .nav-item+.nav-item,
  .navbar-nav .nav-link + .nav-link {
    margin-left: 1rem;
  }
}

.content {
  margin: auto;
  margin-top: 10px;
  padding: 20px;
  border-radius: 25px;
  background-color: rgba(238,238,238,0.8);
  width: 80%;
}

ul.books {
    display: block;
    list-style-type: none;
    margin-top: 1em;
    margin-bottom: 1 em;
    margin-left: 0;
    margin-right: 0;
}

div.form {
  display: flex;
  margin-left: 40px;
}

input.books {
  border-radius: 10px;
  flex-direction: column;
  text-align: middle;
  border: none;
  width: 380px;
}

p.formradio {
  background-color: #ffffff;
  border-radius: 10px;
}

p.collection {
  background-color: #ffffff;
  border-radius: 10px;
  margin-top: 10px;
  text-align: middle;
  width: 400px;
  height: 45px;
  vertical-align: middle;
  padding: 10px;
}

p.stars {
  background-color: #ffffff;
  border-radius: 10px;
  margin-top: 10px;
  text-align: middle;
  width: 400px;
  vertical-align: middle;
  padding: 10px;
}

p.read {
  background-color: #ffffff;
  border-radius: 10px;
  margin-top: 10px;
  text-align: middle;
  width: 400px;
  vertical-align: middle;
  padding: 10px;
}

input.spaceradio {
  float: right;
  margin-right: 25px;
  text-align: center;
}

input.stars {
  background-color: #ffffff;
  float: right;
  margin-right: 25px;
}







